*.DS_Store
Thumbs.db
desktop.ini
*.user
*.userosscache
*.suo
*.sln.docstates
*.csproj.user
[Bb]in/
[Oo]bj/
[Aa]rtifacts/
[Aa]pp[Pp]ackages/
[Bb]undle[Aa]rtifacts/
[Pp]ackages/
*.nuget.props
*.nuget.targets
*.ide/
*.vs/
.vs/
*.log
*.tlog
*.ipdb
*.iobj
*.pdb.incr
*.trx
TestResults/
*.coverage
*.coveragexml
*.Cache
*.dgspec.json
project.assets.json
project.lock.json
*.[Cc]ache
[Ii]nstaller*/
[Ss]etup*/
*.[Ss]tore
*_i.cs
*_i.g.cs
*_i.g.vb
*_i.vb
*.DotSettings.user
.idea/
*.sln.iml
*.g.cs
*.g.i.cs
*.xaml.g.cs
*.xaml.g.i.cs
*.xbf
Package.StoreAssociation.xml
airsensity_app.log
airsensity_settings.json
.vscode/
/Properties/PublishProfiles/win-arm64.pubxml
/Properties/PublishProfiles
